/* styles.css */
h1 {
  font-size: 60px;
}
/* Style for the game container */
.game {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: Arial, sans-serif;
  margin-top: 20px;
  width: auto;
  height: auto; /* Allow the height to adjust based on content */
  position: relative;
  overflow: hidden;
}
.history-button {
  font-size: 25px;
  min-width: 300px;
  cursor: pointer;
  min-height: 30px;
  border: 1px solid #ff0000;
  border-radius: 20px;
  transition: all 300ms ease-in-out;
  background-color: #ff0055;
  margin-top: 10px;
}
.history-button:hover {
  background-color: #ff005599;
}
.history-list-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.game-info {
  width: 400px;
  height: auto;
  display: flex;
  align-items: self-start;
  justify-content: flex-start;
}
.game-board {
  width: 400px;
  height: auto;
}
/* Style for the sta  tus message */
.status {
  font-size: 34px;
  /* border: 1px solid #ff0000; */
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}

/* Style for the board rows */
.board-row {
  display: flex;
}

/* Style for the square buttons */
.square {
  font-size: 24px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* Add a new CSS class for winning squares */
  width: 100px;
  font-size: 80px;
  height: 100px;
  border-radius: 10px;
}
.winning {
  background-color: #2fff00; /* Set the background color for winning squares */
  color: black; /* Set the text color for winning squares */
}

/* Style for the square buttons on hover */
.square:hover {
  /* background-color: #f0f0f0; */
}

/* Style for the winner message */
.winner {
  /* color: #2fff00; */
}

/* Style for the tie message */
.tie {
  color: #333;
}
.board-container {
  display: flex;
}
